

.imagem-brasao-dropzone {
    width: 170px;
    padding: 0 0 15px;
}

.img-responsive {
    width: 170px;
    padding: 0 0 15px;
}

.imageDropzone {
    overflow: hidden;
    width: 140px;
    height: 120;
    position: relative;
    display: block;
    z-index: 10;
}
.button-hover {
    position: absolute;
    z-index: 40;
    top: 20px;
    margin-left: 20px;
    filter: alpha(opacity 60);
    opacity: 0.60;
}

.btn-image-crop {
    position: absolute;
    z-index: 370;
    top: -45px;
    width: 100%;
    text-align: center;
}

.btn-image-hover {
    position: relative;
    z-index: 1370;
    top: -50px;
    height: 0px;
    width: 100%;
    text-align: center;
}